python3.6
streamlit
twint==2.1.20
aiohttp
aiodns
beautifulsoup4
cchardet
dataclasses
elasticsearch
pysocks
pandas>=0.23.0
aiohttp_socks<=0.4.1
schedule
geopy
fake-useragent
googletransx
nest-asyncio
asyncio
